<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-danger navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/home">(-_-)</a>

        <!-- Icons -->
        <ul class="navbar-nav d-flex flex-row me-1">
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white" href="/user"><i class="fas fa-user"></i> Utilisateur</a>
            </li>
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white" href="#" routerLink="/signature"><i class="fas fa-pen"></i> Signature</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                data-mdb-toggle="dropdown" aria-expanded="false" routerLink="/signature"> <i class="fas fa-cog mx-1"></i> Paramètre  </a>
                <!-- Dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#">Mon compte</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#">Deconnexion</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Container wrapper -->
</nav>
<!-- Navbar -->